.main-header{
    width: 100%;
height: 94px;
background-color: black;
margin-top: 0px;
}
.header{
    width: 100%;
height: 94px;
margin-left: 60px;
}
body{
    margin:0;
    
    
}
.heading{
    font-size: 75px;
    font-weight: bolder;
    text-decoration: none;
    cursor: pointer;

}
.red-dvd{
    color:rgb(218, 26, 26);
}
.white-box{
    color: #fff;
}
.red-line {
        width: 100%;
        height: 15px;
        color: rgb(218, 26, 26);
        margin-top: 0px;
        background:  rgb(218, 26, 26);
}
.white-box:hover{
    color:rgb(218, 26, 26);

}
.red-dvd:hover{
    color: #fff;

}
.blue-back{   width: 100%;
    height: 60px;
    background-color: rgb(107, 25, 201);
    margin-top: -8px;
}
.sub-head{
    color: #fff;
font-size: 40px;
text-decoration: none;
cursor: pointer;
margin-left: 60px;
}
.main{
    width: 100%;
    height: 100%;
    background:linear-gradient(#fff,#fff)
}
.text-dec{
    text-decoration: none;
    font-size: 40px;
}
.red-para{
    color: red;
}
.float{
    float: left;
}
.main-img{
    width: 508px;
height: 500px;
margin-left: -180px;
margin-top: 50px
}
.grey-text{
    color: grey;
    font-size: 18px;
}
.list{
    width: 40%;
    height: auto;
    cursor:move;
    color: rgb(226, 72, 0);
}
.download{
    cursor: pointer;
    background-color: red;
    width: 180px;
    height: 40px;
    margin-left: 500px;
}